<html>
  <body style='font-family: Arial, sans-serif; margin: 0; padding: 45px; background-color:rgb(247, 247, 247)'>
    <div style='text-align: center;'>
      <img src='cid:SUS' alt='logo' style='width: 85% ; height:450px; margin: 20px' />
    </div>

    <h1 style='text-align: center; color:#F62C04'>Welcome to <strong>{{project}}</strong></h1>
    <br />
    <br />
    <h2>We are thrilled to welcome you onboard 🌻</h2>
    <p style="font-size: large;">Please click on the link below to verify your email address:
      <br />
      <br />
      <a
        href={{url}}
        style='color: #9c3131; padding: 12px 40px; text-decoration: none; border-radius: 6px; font-weight:bolder'
      >Click Here To Verify Email</a>
      <br />
      <br />
      This link will expire on:
      <br />
      {{expiresAt}},
    </p>


    <footer style="font-size:medium">
      <p style='margin-top: 40px; color: #F62C04; font-weight:bolder; '>
        — The
        {{project}}
        Team
      </p>
      <p>Author: Stuti Upreti<br>
      <p><a href='mailto:istutiupreti805@example.com'>istutiupreti805@example.com</a></p>
    </footer>
  </body>

</html>